{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    <!-- <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        {{ form.password1 }}
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        {{ form.password2 }}
    </div> -->
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
